body{
    background-color: rgba(219, 173, 45, 0.068);
}
header{
    background-color: rgba(150, 109, 33, 0.135);
}header div img{
    width: 300px;
}
.paragrafo{
    text-align:center ;
    padding: 50px;
    font-size: 20px;
}